{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Liste des films
{% endblock %}

{% block content %}

<h1>Liste des films</h1>
<hr>


<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Titre du film</th>
            <th>Date de sortie</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
            <td><a href="{{ path('movie_view',{id:movie.id}) }}">{{ movie.title }}</a></td>
            <td>{{ movie.dateAt|date('d/m/Y') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}