{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Fiche du film
{% endblock %}

{% block content %}

<h1>Fiche du film : {{ title }}</h1>
<hr>
<div class="row" style="margin-top:150px">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Date de sortie</th>
                <td>{{ dateAt|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Réalisateur</th>
                <td>{{ director }}</td>
            </tr>
            <tr>
                <th>Acteurs principaux</th>
                <td>{{ actors }}</td>
            </tr>
        </table>
    </div>
</div>

<br>
<a href="{{ path('movies') }}">Retour vers la liste des films</a>

{% endblock %}